html, body {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #f9f9f9;
}

body {
	color: #333;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	line-height: 1.6;
	font-size: 16px;
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

a {
	color: #007BFF;
	text-decoration: none;
	transition: color 0.3s ease, text-decoration 0.3s ease;
}

a:hover {
	text-decoration: underline;
	color: #0056b3;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
	margin-bottom: 0.5em;
	font-weight: bold;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.8em 1em;
	padding: 0.8em 1em;
	margin: 0 0 1em 0;
	box-sizing: border-box;
	border: 1px solid #fff;
	border-radius: 4px;
	transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus, select:focus, textarea:focus {
	border-color: #0056b3;
	box-shadow: 0 0 5px rgba(0, 86, 179, 0.5);
}

input:disabled {
	background-color: #e9ecef;
  	color: #aaa;
}

button {
	color: #333;
	background-color: #007BFF;
	outline: none;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

button:hover {
	background-color: #0056b3;
  }
  
  button:active {
	background-color: #004085;
  }
  
  button:focus {
	outline: none;
	box-shadow: none;
  }

.route {
	margin: 30px 0;
	padding: 20px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}